<html>
    <head>
        <title>Hero Tracker</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/factories/HeroFactory.js"></script>
        <script src="js/controllers/HeroDisplayController.js"></script>
    </head>

    <body data-ng-app="HeroApp">
        <div ng-controller="HeroDisplayController">
            <div ng-repeat="hero in heroes">
                {{hero.heroName}}

            </div>
        </div>

    </body>
</html>